In [36]:
import pandas as pd
import numpy as np

### Understanding the data

In [2]:
df=pd.read_csv('train.csv')
df

,patient_id,name_of_drug,use_case_for_drug,review_by_patient,effectiveness_rating,drug_approved_by_UIC,number_of_times_prescribed,base_score
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27,8.022969
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192,7.858458
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17,6.341969
3,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37,6.590176
4,155963,Cialis,Benign Prostatic Hyperplasia,"""2nd day on 5mg started to work with rock hard...",2,28-Nov-15,43,6.144782
...,...,...,...,...,...,...,...,...
32160,183202,Cymbalta,Anxiety,"""I have been taking Cymbalta for 15 months now...",9,10-Jun-13,89,6.963020
32161,109111,Nexplanon,Birth Control,"""I have had the Nexplanon since Dec. 27, 2016 ...",6,6-Apr-17,0,0.899076
32162,121154,Venlafaxine,Panic Disorde,"""Had panic attacks and social anxiety starting...",9,10-Nov-16,25,6.241812
32163,45410,Fluoxetine,Obsessive Compulsive Disorde,"""I have been off Prozac for about 4 weeks now....",8,21-Jan-15,22,7.940428
32164,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,8.205393

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32165 entries, 0 to 32164
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   patient_id                  32165 non-null  int64
 1   name_of_drug                32165 non-null  object
 2   use_case_for_drug           32165 non-null  object
 3   review_by_patient           32165 non-null  object
 4   effectiveness_rating        32165 non-null  int64
 5   drug_approved_by_UIC        32165 non-null  object
 6   number_of_times_prescribed  32165 non-null  int64
 7   base_score                  32165 non-null  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 2.0+ MB

In [6]:
df.isna().sum()

patient_id                    0
name_of_drug                  0
use_case_for_drug             0
review_by_patient             0
effectiveness_rating          0
drug_approved_by_UIC          0
number_of_times_prescribed    0
base_score                    0
dtype: int64

No null values are present in the data.

In [13]:
# Seperating Independent and Dependent Variables
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [28]:
# Diffrent types of drugs used

print(f'Total types of drugs available is {df.name_of_drug.nunique()}.')

df.name_of_drug.value_counts().reset_index()

Total types of drugs available is 2220.

                                  index  name_of_drug
0                        Levonorgestrel           724
1                          Etonogestrel           628
2     Ethinyl estradiol / norethindrone           547
3      Ethinyl estradiol / norgestimate           425
4                             Nexplanon           397
...                                 ...           ...
2215            Ephedrine / guaifenesin             1
2216                            Xalkori             1
2217                    Methscopolamine             1
2218              Brimonidine / timolol             1
2219                             Didrex             1

[2220 rows x 2 columns]

In [29]:
# Diffrent types of drugs used

print(f'Total types of drugs available is {df.use_case_for_drug.nunique()}.')

df.use_case_for_drug.value_counts().reset_index()

Total types of drugs available is 636.

                                             index  use_case_for_drug
0                                    Birth Control               5795
1                                       Depression               1791
2                                             Pain               1273
3                                          Anxiety               1174
4                                             Acne               1101
..                                             ...                ...
631                     amilial Mediterranean Feve                  1
632                       Pre-Exposure Prophylaxis                  1
633                                   Oligospermia                  1
634  Mycobacterium avium-intracellulare, Treatment                  1
635    92</span> users found this comment helpful.                  1

[636 rows x 2 columns]

In [32]:
Birth_control=df[df.use_case_for_drug=='Birth Control' ]['name_of_drug']

In [35]:
Birth_control.value_counts().reset_index()

                                  index  name_of_drug
0                          Etonogestrel           626
1     Ethinyl estradiol / norethindrone           460
2                        Levonorgestrel           444
3                             Nexplanon           396
4    Ethinyl estradiol / levonorgestrel           352
..                                  ...           ...
124                      Junel 1.5 / 30             1
125                               Cyred             1
126                  Ortho-Novum 1 / 35             1
127                          Lo / Ovral             1
128                            Larissia             1

[129 rows x 2 columns]